wheel==0.42.0
setuptools==69.0.3
fastapi==0.109.0
uvicorn==0.25.0
python-multipart==0.0.6
python-dotenv==1.0.0
pydantic==2.5.2
--no-binary :all: PyMuPDF==1.19.6
docx2txt==0.8
google-generativeai==0.3.2
Pillow==10.2.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2